.App {
    color: #000;
    text-align: center;
    background: #fff;
    /* background-color: #192bad; */
}

.App-link {
  /* color: #36b751; */
}

.App-content {
    min-height: 15rem;
    background-color: #ffffff;
    border: solid 1px #ffffff;
}
