.App {
    text-align: center;
}

.App-link {
  color: #36b751;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
    min-height: 20em;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    color: black;
}
