@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pretendard', verdana;
}

h1 {
    font-size: 26pt;
    font-weight: 800;
    line-height: 1.75em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    font-size: 20pt;
    font-weight: 600;
    line-height: 1.75em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

h3 {
    font-size: 16pt;
    line-height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a {
    color: blue;
    text-decoration: no-underline;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
    font-size: 0.9em;
    background-color: #f8f8f8;
    border: 1px solid #dfdfdf;
    color: #404040;
    border-radius: 0.25em;
    padding: 0.15em 0.25em;
}



@media only screen and (max-width: 640px) {
    h1 {
        line-height: 1.25em;
    }

    h2 {
        line-height: 1.25em;
    }

    h3 {
        line-height: 1em;
    }

    a {
        border: solid 1px rgba(0, 0, 255, 0.1);
        background-color: rgba(0, 0, 255, 0.02)
    }
}
