@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Pretendard', verdana;
}

h1 {
    font-size: 26pt;
    font-weight: 800;
    line-height: 1.75em;
}

h2 {
    font-size: 20pt;
    font-weight: 600;
    line-height: 1.75em;
}

h3 {
    font-size: 16pt;
    line-height: 1.2em;
}

a {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color: darkblue;
    text-decoration: none;
}

pre {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
